@model IEnumerable<Alumno>
@{  ViewData["Title"] = "Index";
    Layout = "_Layout";
    int x = 1; }

<main>
    <section>
        <h1>Listado de alumnos</h1>

        <a href="~/Alumnos/AgregarAlumno">
            <input type="button" value="Registar Alumno" />
        </a>

        <table>
            <colgroup>
                <col style="width:30px" />
                <col style="width:25%" />
                <col style="width:25%" />
                <col style="width:30%" />
                <col span="3" style="width:20%" />
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var a in Model)
                {
                    <tr>
                        <td>@(x++)</td>
                        <td>@a.Nombre</td>
                        <td>@a.Apellido</td>
                        <td>@a.Correo</td>
                        <td><a href=~/Alumnos/Editar/@a.Id>Editar</a></td>
                        <td><a href=# onclick="eliminar(@a.Id)">Eliminar</a></td>
                        <td><a href="~/Alumnos/VerProgreso">Progreso</a></td>
                    </tr>
                  }
            </tbody>
        </table>

        @Html.ValidationSummary()

    </section>

    <form method="post" action="~/Alumnos/EliminarAlumno">
        <input type="number" name="Id" id="IdAlumno" hidden />
    </form>
    <script>
        function eliminar(id) {
            document.getElementById("IdAlumno").value = id;
            document.querySelector("form").submit();
        }
    </script>
</main>