@model IEnumerable<NoticiasWEB.Models.Noticia>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Plantilla";
    int x = 1;
}

<main style=" overflow: scroll;">
    <section class="botones">
        <a href="~/Home/Agregar"><input type=button value="AGREGAR" /></a>
    </section>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>FECHA</th>
                <th>ENCABEZADO</th>
                <th>AUTOR</th>
                <th>LUGAR</th>
                <th>CONTENIDO</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var noticia in Model)
            {
                <tr>
                    <td>@(x++)</td>
                    <td>@noticia.Fecha.ToShortDateString()</td>
                    <td>@noticia.Encabezado</td>
                    <td>@noticia.Autor</td>
                    <td>@noticia.Lugar</td>
                    <td>@noticia.Contenido</td>
                    <td id="option"><a href="~/Home/Editar/@noticia.Id">EDITAR</a></td>
                    <td id="option"><a id="delete" href="#" onclick="eliminar(@noticia.Id)">ELIMINAR</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>

<form method="post" action="~/Home/Eliminar">
    <input type="number" name="Id" id="idNoticia" hidden />
</form>
<script>
    function eliminar(id) {
        if (confirm('¿Seguro que desea eliminar esta noticia?')) {
            document.getElementById("idNoticia").value = id;
            document.querySelector("form").submit();
        }
    }
</script>